body {
    padding: 20px 0;
}

header {
	padding-top: 10px;
}

.flash-message {
    margin-top: 20px;
}

.noteContainer {
    position: relative;
	height: 200px;
	width: 200px;
}

.titleSpan {
    position: absolute;
	font-size: 20px;
    left: 10px;
    top: 10px;
}

.descSpan {
    position: absolute;
    left: 10px;
    top: 40px;
}

.createdSpan {
    position: absolute;
    left: 10px;
    top: 60px;
}

.task-item{
	cellpadding: 20px;
	position:relative;
	min-height:100%;
	min-width:100%;
	
}

.titleLabel{
	padding-left:2px;
	padding-right:10px;
	font-size: 120%;
}

.btn-sm{
	
	min-width:150px;
	
}

.list-group-item-active-task {
    color: #ffffff;
    background-color: #ab5701;
}

.list-group-item-inactive-task {
	color: #ffffff;
    background-color: #560000;
}

.list-group-item-completed-task {
	color: #ffffff;
    background-color: #00310b;
}