	</body>
	<footer>
		<div class="credits text-center">
			<p>
				<a href="https://github.com/zackrzot/tsk">View source on GitHub!</a>
			</p>
			<p>
				<a href="http://zackrzot.com">zackrzot.com</a>
			</p>
		</div>
	</footer>
</html>