<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>tsk</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link href="/public/css/cover.css" rel="stylesheet">
	<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon" />
    <style type="text/css">
        body {
            padding-top: 100px;
			padding-left: 10px;
        }

        .form-container {
            width: 210px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
	<img src="\public\img\tsk.png" alt="tsk">
	<p><i>tsk is a FREE ToDo app that you will use as much as the paid ones, as in never!</i><p>